a{
    text-decoration: none !important;
}

button{
    display: flex;
    padding: 0;
    background: none;
    border: none;
}

.table-non-fluid{
    width: max-content !important;
}

.ck.ck-content{
    background-color: #f8f8f8;
    border: 1px solid lightgray;
    border-top: none;
}

.modal-spinner-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.5);
}

.tooltip-box:hover div[data-id="tooltip"]{
    transition: 0.5s ease-in; /* search about "all" - why using ease will make the tooltip jump for the first time*/
    transition-delay: 1.5s;
}

.inline.page-title{
    display: inline-block;
    margin: 0 10px 0 0;
}